body{
    margin: 0!important;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hg-3{
    height: 20vh;
}
.hg-6{
    height: 60vh;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.grid-cell{
    width: 33%;
}
