body{
    margin: 0!important;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1px;
    flex:1;
    width: 100%;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.grid-cell{
    width: 33%;
    height: 33vh;
}
