.containerGame{
  background-color: tomato;
}

.table {
  border-radius: 10px;
  border: 5px solid brown;
  background-image: url("../../media/img/table.avif");
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.card{}
.card img{
  width: 50%;
  border-radius: 10px;
}

.card-backgroung{
  background-image: url('../../media/img/chkoubaBackGround.png');
  background-size: contain;
}
.table-cell{
  width: 33%;
  height: 10vh;
}
.empty-cell{
  height: 20vh;
}
.scoreCell{
  font-size: 100px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}
.selected img{
  box-shadow: 0 0 10px #fff;
}