.containerGame{
  background-color: tomato;
}

.table {
  border-radius: 10px;
  border: 5px solid brown;
  background-image: url("../../media/img/table.avif");
}
.card{
  height: 100%;
  width: 100%;
}
.card-backgroung{
  background-image: url('../../media/img/chkoubaBackGround.png');
  background-size: contain;
}
.table-cell{
  width: 33%;
  height: 80px;
}

.flip-card {

  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

